<h1>Links Index</h1>

<%= form_for @link do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :url%>:
  <%= f.text_field :url%><br />

  <%= f.submit "Submit"%>
<% end %>

<% if @links %>
<h2>All your links</h2>
<table>
  <tr>
    <th>Title</th><th>URL</th><th>Read?</th><th></th><th></th>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <%= form_for link do |f| %>
        <td><%= f.text_field :title %></td>
        <td><%= f.text_field :url%></td>
        <td><%= link.read %></td>
        <td><%= f.submit "Submit"%> </td>
      <% end %>
        <td><%= button_to "Mark as Read", api_v1_link_path(link[:id]), method: "patch"%></td>
      </tr>
  <% end %>
</table>
<% end %>
