<h1>Links Index</h1>

<%= form_for @link do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :url%>:
  <%= f.text_field :url%><br />

  <%= f.submit "Submit"%>
<% end %>

<h2>All your links</h2>
<% if @links %>
  <% @links.each do |link| %>
  <h4>Title: </h4><%= link.title %> <br>
  <h4>Url:</h4><%= link.url %><br>
  <%= button_to "Mark as Read", link_path(current_user[:id]), method: "patch"%> <br>
  <%= button_to "Delete", link_path(current_user[:id]), method: "delete"%> <br>
  <% end %>
<% end %>
